body {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-left > a {
    font-size: 50px;
    text-decoration: none;
}

.top-right {
    width: 20%;
    display: flex;
    justify-content: space-around;

}

.top-right > a {
    text-decoration: none;
}

.main-img {
    height: 600px;
    width: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0028/2004/6921/products/fancy-dress-inflatable-dildo-costume-4.jpg?v=1534503558);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-size: 100px;
}